/*********** BODY **************/
/* Change Body Attributes */
body {
    font-family: 'Open Sans', serif;
    background-color: blanchedalmond;
}

/* Main Window - Boxed style */
.chat-wrap {
    margin-top: 50px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}


/**************** HEADER ****************/
/* Header used in every wrapper */
.chat-header {
    height: 60px;
    width: 100%;

    background: deepskyblue;
    box-shadow: 0 1px 2px;

    display: table;
}
/*Header Title*/
.chat-header h4 {
    display: table-cell;
    vertical-align: middle;
    /*padding-left: 10px;*/
}
/*Header Button*/
.header-button {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    width: 21px;
    color: #333;
}
/* Header Button Hover */
.chat-header .btn:hover {
    transition: color 0.5s ease;
    color: black;
}


/****************** CONTENT ******************/
/* Content class used for every wrapper */
.content {
    max-height: calc(100% - 60px);
    overflow: auto;
}


/********* CONVERSATIONS *********/
/* Conversation List Wrapper */
.conversation-wrap {
    height: 500px;
}
/* Conversation Item */
.conversation {
    padding: 8px 10px 5px;
    border-bottom: 1px solid #ddd;

    text-align: inherit;
    display: inherit;
    color: inherit;

    transition: background-color 0.5s ease;
}
.conversation:hover {
     background-color: whitesmoke;
}


/************ MESSAGES *************/
/* Message List Wrapper */
.message-wrap
{
    height: 440px;
}
/* Message Item */
.msg
{
    padding: 8px 10px 5px;
    border-bottom: 1px solid #ddd;
}
/* Message Sender */
.message-wrap .media-heading
{
    color: #2285b3;
    font-weight: 700;
}
/* Message Time */
.time
{
    color:#bfbfbf;
}


/*************** MESSAGE BOX **********************/
/* Send Message Box */
.msg-box {
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 2px;

    display: table;
}
/* Send Message Wrapper */
.send-wrap
{
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}
/* Button Wrapper */
.btn-wrap
{
    width: 21px;
    display: table-cell;
    vertical-align: middle;
}

/* Remove Resize Bar */
.no-resize-bar
{
    resize: none;
}
/* Send Button */
.btn-panel .btn:hover {
    color: #0451b7;
    transition: color 0.5s ease;
}


/*************** OTHER ********************/
/* Remove Bootstrap Button Effect */
.btn.active, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Scrollbar Attributes */
body::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    background:#ddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}