<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project 01</title>

    <!--3rd Party CSSs-->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!--3rd Party Fonts & Icons-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--Custom CSSs-->
    <link rel="stylesheet" type="text/css" href="css/chat.css">

</head>
<body>
    <div class="container fill">
        <div class="row chat-wrap">

            <!-- Contacts & Conversations -->
            <div class="col-sm-3 panel-wrap">

                <!-- Overlay Menu / Contacts -->
                <div class="col-sm-12 section-wrap collapse in" id="ContactsCollapse">

                    <!--Header-->
                    <div class="row header-wrap">
                        <div class="chat-header col-sm-12">
                            <h4>Select a Contact</h4>
                            <div class="header-button">
                                <a class="btn pull-right" href="#ContactsCollapse" data-toggle="collapse">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Contacts-->
                    <div class="row content-wrap" id="ContactsView">
                    </div>

                </div>

                <!--Left Menu / Conversation List-->
                <div class="col-sm-12 section-wrap">

                    <!--Header-->
                    <div class="row header-wrap">
                        <div class="chat-header col-sm-12">
                            <h4 id="username">Andres Elizondo</h4>
                            <div class="header-button">
                                <a class="btn pull-right" href="#ContactsCollapse" data-toggle="collapse">
                                    <i class="fa fa-pencil-square-o fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Conversations-->
                    <div class="row content-wrap" id="ConversationsView">
                    </div>

                </div>

            </div>

            <!-- Messages & Info -->
            <div class="col-sm-9 panel-wrap">

                <!--Main Content / Message List-->
                <div class="col-sm-12 section-wrap" id="MessagesCollapse">

                    <!--Header-->
                    <div class="row header-wrap">
                        <div class="chat-header col-sm-12">
                            <h4>Conversation Title</h4>
                            <div class="header-button">
                                <a class="btn pull-right info-btn">
                                    <i class="fa fa-info-circle fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Messages-->
                    <div class="row content-wrap messages" id="MessagesView">
                    </div>

                    <!--Message box & Send Button-->
                    <div class="row send-wrap">
                        <div class="send-message">
                            <div class="message-text">
                                <textarea class="no-resize-bar form-control message-text-contents" rows="2" placeholder="Write a message..."></textarea>
                            </div>
                            <div class="send-button">
                                <a class="btn message-send-button">Send <i class="fa fa-send"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Sliding Menu / Conversation Members-->
                <div class="col-sm-3 section-wrap" id="Members">

                    <!--Header-->
                    <div class="row header-wrap">
                        <div class="chat-header col-sm-12">
                            <h4>Conversation Info</h4>
                            <div class="header-button">
                                <a class="btn pull-right info-btn">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Members-->
                    <div class="row content-wrap">
                        <div class="contact">
                            <div class="media-body">
                                <h5 class="media-heading">Walter White</h5>
                                <small class="pull-left time"><i>Owner</i></small>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="media-body">
                                <h5 class="media-heading">Walter White</h5>
                                <small class="pull-left time"><i>Invited</i></small>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="media-body">
                                <h5 class="media-heading">Walter White</h5>
                                <small class="pull-left time"><i>Owner</i></small>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="media-body">
                                <h5 class="media-heading">Walter White</h5>
                                <small class="pull-left time"><i>Invited</i></small>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- Backbone Templates -->
    <script type="text/template" id="ContactTemplate">
        <div class="media-body">
            <h5 class="media-heading"><%= name %></h5>
        </div>
    </script>
    <script type="text/template" id="MessageTemplate">
        <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> <%= timestamp %></small>
            <h5 class="media-heading"><%= id %></h5>
            <small class="col-sm-11"><%= message %></small>
        </div>
    </script>
    <script type="text/template" id="ConversationTemplate">
        <div class="media-body">
            <h5 class="media-heading"><%= conversation.name %></h5>
            <small class="pull-right time">Last seen <%= conversation.lastseen %></small>
        </div>
    </script>

    <!--3rd Party JSs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://backbonejs.org/backbone.js"></script>

    <!--Custom JSs-->
    <script src="js/bunqapi.js"></script>
    <script src="js/chat.js"></script>

</body>
</html>